{% extends "base.html" %}

{% block comment %}

{% block extra_css %}

<link rel="stylesheet" type="text/css" href="/teston/static/css/register.css">

{% endblock extra_css %}

{% endblock comment %}

{% block content %}

<div class="col-xs-4"></div>
  <div class="form-container col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Реєстрація</h3>
      </div>

      <div class="panel-body">
        <form action="/register/" method="post" enctype="multipart/form-data" name="connect_form" role="form"class="form-horizontal">
            {% csrf_token %}
            <div>
				      <label for="first_name">Логін</label>
				      <input class="form-control" type="text" value="{{ data.username }}" name="username" id="username" />
              <span class="help-block">{{ errors.username }}</span>
			       </div>

			       <div>
				      <label for="pwr1">Пароль</label>
				      <input class="form-control" type="password" value="" name="pwr1" id="pwr1" />
              <span class="help-block">{{ errors.pwr1 }}</span>
			       </div>

			       <div>
				      <label for="pwr2">Повторіть пароль</label>
				      <input class="form-control" type="password" value="" name="pwr2" id="pwr2" />
              <span class="help-block">{{ errors.pwr2 }}</span>
			       </div>
			
            <div>
              <button type="submit" name="register_button" class="btn btn-primary btn-block">Підтвердити</button>
            </div>
            <input type="hidden" name="next" value="/" />
            </form>
          </div>
       </div>
 </div>
</div>
<div class="col-xs-4"></div>

{% endblock content %}