<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TestOn! {% block meta_title %}{% endblock meta_title %}</title>

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<!--
<link rel="stylesheet" type="text/css" href="/teston/static/css/style.css">
-->
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
{% block extra_css %}{% endblock extra_css %}

</head>
<body>

<nav class="navbar"> 
    <div class="container">
    	<div class="navbar-header">
    		<a class="navbar-brand" href="{% url "home" %}">
    	   		<img alt="Brand" src="{% static "logo.bmp" %}"> 
    	   	</a>
    	</div>
        <ul class="nav nav-pills pull-left">
          <li role="presentation"><a href="{% url "home" %}">Головна</a></li>
          <li><a href="#">Як користуватися</a></li>
        </ul>
        <ul class="nav nav-pills pull-right">
        {% if user.is_anonymous %}
          <li><a href="{% url "register" %}">Зареєструватися</a></li>
          <li><a href="{% url "login" %}">Увійти</a></li>
          <li><a href="#">Допомога</a></li>
        {% else %}
          <p class="navbar-text">Привіт, {{ user.first_name }}</p>
          <li><a href="{% url "account" %}">Мій кабінет</a></li>
          <li><a href="{% url "my_tests" %}">Мої тести</a></li>
          {% if request.user.is_superuser %}
          <li><a href="/admin">Панель адміністратора</a></li>
          {% endif %}
          <li><a href="{% url "logout" %}">Вийти</a></li>
        {% endif %}
        </ul>
    </div>
</nav>

{% block content %}{% endblock content %}

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>