.jumbotron {
	background-color: #0AF5BE;
	margin-top: 0px;
}

.navbar-brand img{
	width: 75px;
	height: 20px;
}

.navbar {
	margin-top: 5px;
}

.form-container .btn{
	margin-top: 10px;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

.panel-body h4{
	text-align: center;
}

.form-control {
	width: 92%;
	margin-left: 4%;	
}

.navbar-text {
	margin-top: 10px;
}

